/* style.css */
/*Added for LoginScreen */
#loginscreenbody {
	background-color: #cbe3b5;

}

#adminMessage {
	position: fixed;
	top: 10px;
	right: 130px;
	color: #062d73;
	font-size: 18px;
	font-weight: bold;
}

/*End for LoginScreen */


#dashboardBody {
	background-color: #cbe3b5;
	font-family: Arial, sans-serif;
	text-align: center;
}

.dashboard {
	width: 200px;
	margin-left: 250px;
}

.dashboard-button {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	background-color: #000066;
	color: #fff;
	text-decoration: none;
	text-align: center;
	border: 3px solid rgb(64, 0, 0);
	border-radius: 10px;

}

.dashboard-button:hover {
	background-color: #2980b9;
}

.dash {
	width: 200px;
	margin: 0 450px;
}

.return {
	width: 100px;
	margin: 0 700px;
}

.disabled-link {
	pointer-events: none;
	color: #999;
	text-decoration: none;
}

.label-container {
	display: flex;
	width: 100%;
}

.label-container label {
	width: 50%;
	text-align: left;
	margin: 10px 20px;

}

.registerclose {
	width: 20%;
	background-color: #000066;
	color: #fff;
	text-align: center;
	border: 3px solid rgb(64, 0, 0);
	border-radius: 10px;
}

.returnClear {
	width: 20%;
	background-color: orange;
	color: #fff;
	text-align: center;
	border: 2px solid rgb(64, 0, 0);
	border-radius: 10px;
}

input[type="text"] {
	border: 2px solid rgb(0, 0, 0);
}


/* 
/*Searchpage
ADD[S]Samata 2023/11/14
*/
#recordDisplay {
	color: #062d73;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.label-container {
	display: flex;
	width: 100%;
}

.label-container label {
	width: 50%;
	text-align: left;
	margin: 10px 20px;
}

.hedding {
	padding: 20px 0;
}

.table-responsive {
	margin-left: 80px;
	margin-top: 60px;
}

table,
th,
tr,
thead {
	border: 1px solid black;
	border-collapse: collapse;
}
.selected {
	background-color: darkgrey;
	/* You can set the background color to any color you prefer */
}

.search {
	width: 30%;
	color: #fff;
	text-align: center;
	border: 3px solid rgb(64, 0, 0);
	border-radius: 10px;
	background-color: darkblue;
	height: 40px;

}

.reset {
	width: 30%;
	color: #fff;
	text-align: center;
	border: 3px solid rgb(64, 0, 0);
	border-radius: 10px;
	background-color: #eea647;
}

.menu {
	width: 30%;
	color: #fff;
	text-align: center;
	border: 3px solid rgb(64, 0, 0);
	border-radius: 10px;
}

.view {
	width: 30%;
	color: #fff;
	text-align: center;
	border: 3px solid rgb(64, 0, 0);
	border-radius: 10px;
	background-color: darkblue;
	height: 40px;

}

thead tr th {
	height: 60px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: 900;
}

td {
	text-align: center;
	border: 1px solid black;
}

#table1 {
	height: 400px;
	width: 1600px;
	overflow-y: scroll;
}

tr.tableHover:hover {
	background-color: darkgrey;
}

tr.tableHover {
	/*	background-color: cornsilk; */
	background-color: white;
}

.table-layout .clickedrow td {
	background-color: #caaf8f;
}

.table-layout {
	/*text-align: center;*/
	border-collapse: collapse;
	font-family: arial-narrow, helvetica, sans-serif;
	font-weight: 100;
	font-size: 13px;
	margin: 0 auto 0;
	margin-bottom: 20px;
	/*float:left;*/
	height: 500px;
	overflow-x: auto;
	white-space: nowrap;
}

.table-layout td,
.table-layout th {
	border: 1px solid grey;
	padding: 3px 3px 0;
	height: 38px;
	line-height: 38px;
	width: 100px;
	font-size: 120%;
	background-color: #eea647;
	height: 32px;
	line-height: 22px;
}

.table-layout td {
	text-align: left;
	background-color: #fff;
}

/*ModifySearchdata */
/*ADD[S]Samata */
.close {
	color: #aaa;
	float: right;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover {
	color: black;
}

.download-button {
	background-color: red;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
	color: red;
}

.logout-button {

            display: block;
            width: 80px;
            padding: 10px;
            margin: 5px 0;
            background-color: #000066;
            color: #fff;
            text-decoration: none;
            text-align: center;
            border: 3px solid rgb(64, 0, 0);
            border-radius: 10px;
            position: fixed;
            top: 10px;
            right: 10px;
        }

        /* Style for the arrow inside the button */
        .logout-button i {
            margin-left: 5px; 
        }
/*ADD[E] Samata*/
